@page
@model Individual_Project___Eren_Destan.Pages.VinylStoreModel
@{
    ViewData["Title"] = "Vinyl Store";
    Layout = "_LayoutForStores";  
}

<title>Vinyl Store</title>
 <link rel="stylesheet" href="css/VinylStoreStyling.css" />

<div class="main-container">
    <div class="row">
        @*Vinyls On Left*@
        <div class="col-4">
            <div class="container">
                <div class="rectangle mt-5"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
                <div class="rectangle"></div>
            </div>
        </div>
        @*Main Part*@
        <div class="col-8">
            <div class="container">
                <div class="col-12 mx-2">
                    <h1>Vinyl Shop</h1>
                    <div class="bigrectangle"></div>
                </div>
            </div>
        </div>
    </div>
</div>